:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
  & a {
    color: #69818d;
    background-color: #afb3b7;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
  }
  & .active {
    color: #e3e8eb;
    background-color: #69818d;
  }
}

img {
  width: 90px !important;
  margin: 0 auto;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.card {
  width: 400px !important;
  & button {
    background-color: #142e33;
    color: #ced4d9;
  }
  & button:hover {
    background-color: #1e454d;
    color: #fff;
  }
}
.card-body {
  background-color: #e5e5e5;
  padding: 20px !important;
}
.basket-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 80vh;
  overflow-y: scroll;
  width: 550px;
}
.basket-card {
  display: flex;
  align-items: center;
  border: 1px solid #798183;
  border-radius: 10px;
  width: 500px;
  padding: 10px;
  & .delete-btn {
    background-color: #142e33;
    color: #e1e5e8;
  }
  & .price-amount-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    margin: 20px 0;
    & input {
      border: 1px solid #afb3b7;
      border-radius: 10px;
      width: 70px;
      padding-left: 7px;
    }
  }
  & .price-amount {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    & h5 {
      margin-bottom: 0;
    }
  }
}
.footer-basket-cards {
  position: fixed;
  right: 120px;
  top: 107px;
  padding: 40px 10px;
  border-radius: 10px;
  background-color: #142e33;
  color: #fff;
  width: 350px;
  & button {
    background-color: #69818d;
    color: #fff;
  }
  & button:hover {
    background-color: #214951;
    color: #fff;
  }
  & label {
    font-size: 17px;
  }
  & input {
    margin: 10px 0;
  }
}
